<div
  class="content fixed h-[5rem] z-50 w-full py-0 px-[2rem] bg-white flex items-center justify-between max-h-[3rem]"
>
  <div class="content-left flex items-center justify-between w-1/4">
    <img src="image/logo-bsi-green.png" alt="Logo BSI" class="h-[1.5rem]" />
    <button><img src="image/menu.png" class="h-[1.5rem]" alt="menu" /></button>
  </div>
  <div class="content-right flex items-center gap-4">
    <button><img src="image/setting.png" class="h-[1.5rem]" alt="setting" /></button>
    <button><img src="image/user.png" class="h-[1.5rem]" alt="user" /></button>
  </div>
</div>
