<div
  class="not-prose relative bg-white border border-gray-200 rounded-lg overflow-x-auto"
>
  <table class="w-full text-sm text-left text-gray-500">
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 border-b border-gray-200"
    >
      <tr>
        <th
          *ngFor="let col of columns"
          scope="col"
          class="px-6 py-3"
          [class.cursor-pointer]="col.sortable"
          [ngClass]="col.customClass"
          (click)="onSort(col)"
          [ngStyle]="col.customStyle"
        >
          <div class="flex items-center gap-1">
            {{ col.label }}
            <span *ngIf="col.sortable">
              <ng-container *ngIf="sortKey === col.key">
                <span *ngIf="sortDirection === 'asc'">▲</span>
                <span *ngIf="sortDirection === 'desc'">▼</span>
              </ng-container>
              <span *ngIf="sortKey !== col.key" class="opacity-30">▲</span>
            </span>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let row of data"
        class="bg-white border-b border-gray-200 hover:bg-gray-50"
      >
        <td
          *ngFor="let col of columns"
          class="px-6 py-4"
          [ngClass]="col.customClass"
          [ngStyle]="col.customStyle"
        >
          <div class="whitespace-nowrap">
            @if (col.isAction) {
            <ng-container
              *ngTemplateOutlet="tableActionTpl; context: { $implicit: row }"
            ></ng-container>
            } @else {
            @switch (col.type) {

            @case ('badge') {
            <span
              class="px-2 py-1 text-xs font-medium border rounded-full"
              [ngClass]="getBadgeClass(row[col.key])"
            >
              @if (col.key === 'highlight') {
              {{ row[col.key] | yesNo }}
              } @else if (col.key === 'status_fung' || col.key === 'visibility'
              || col.key === 'is_visible') {
              {{ row[col.key] | activeInactive }}
              } @else {
              {{ row[col.key] }}
              }
            </span>
            }
            @case ('image') {
            <img
              [src]="row[col.key]"
              [alt]="col.label"
              class="w-10 h-10 rounded-full object-cover border"
            />
            }
            @case ('date') {
            <span class="text-gray-900" [title]="row[col.key]">
              {{ row[col.key] | date : "dd MMM yyyy" }}
            </span>
            }
            @default {
            <span class="text-gray-900" [title]="row[col.key]">
              @if (col.key === 'is_mandatory') {
              {{ row[col.key] | mandatory }}
              } @else {
              {{ row[col.key] | truncate : 25 }}
              }
            </span>
            } } }
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
