<div class="not-prose relative bg-white border border-gray-200 rounded-lg overflow-x-auto">

  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 border-b border-gray-200 ">
      <tr>
        <th
          *ngFor="let col of columns"
          scope="col"
          class="px-6 py-3"
          [class.cursor-pointer]="col.sortable"
          [ngClass]="col.customClass"
          (click)="onSort(col)"
          [ngStyle] = "col.customStyle"
        >
          <div class="flex items-center gap-1">
            {{ col.label }}
            <span *ngIf="col.sortable">
              <ng-container *ngIf="sortKey === col.key">
                <span *ngIf="sortDirection === 'asc'">▲</span>
                <span *ngIf="sortDirection === 'desc'">▼</span>
              </ng-container>
              <span *ngIf="sortKey !== col.key" class="opacity-30">▲</span>
            </span>
          </div>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let row of data"
        class="bg-white border-b border-gray-200 hover:bg-gray-50"
      >
        <td
          *ngFor="let col of columns"
          class="px-6 py-4"
          [ngClass]="col.customClass"
          [ngStyle] = "col.customStyle"
        >
          <div class="whitespace-nowrap">
             <ng-container [ngSwitch]="true">
              <ng-container *ngSwitchCase="col.type === 'badge'">
                <span
                  class="px-2 py-1 text-xs font-medium border rounded-full"
                  [ngClass]="getBadgeClass(row[col.key])"
                >
                  {{ row[col.key] }}
                </span>
              </ng-container>

              <ng-container *ngSwitchCase="col.isAction">
                <ng-container
                  *ngTemplateOutlet="tableActionTpl; context: { $implicit: row }"
                ></ng-container>
              </ng-container>

              <ng-container *ngSwitchDefault>
                <span class="text-gray-900">
                   {{ row[col.key] }}
                </span>
              </ng-container>
            </ng-container>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
