<div class="flex flex-col h-screen">
  <!-- Header -->
  <app-header></app-header>

  <!-- Sidebar + Content -->
  <div class="flex flex-1 overflow-hidden pt-[3rem]">
    <!-- Sidebar -->
     <div class="content p-4" style="height: calc(100vh - 3.5rem)">
       <app-sidebar></app-sidebar>
     </div>

    <!-- Content -->
    <main class="flex-1 overflow-y-auto bg-gray-100">
      <div class="container mx-auto px-4 py-4">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>

  <!-- Footer -->
  <app-footer></app-footer>
</div>
