<div class="flex flex-col gap-1">
  <label
    class="font-semibold text-gray-700 flex gap-0 cursor-pointer"
    [for]="label"
    >{{ label }} @if (isRequired()) {
    <lucide-icon
      [img]="AsteriskIcon"
      class="relative top-0 my-icon"
      size="12"
      color="red"
    ></lucide-icon>
    }
  </label>
  <input
    type="date"
    [id]="label"
    class="border border-gray-300 placeholder:text-gray-400 px-3 py-2 focus:outline-none focus:ring-1 focus:ring-[#00BFB2] rounded-[10px]"
    [class.border-red-500]="ngControl.invalid && ngControl.touched"
    [value]="value"
    [disabled]="disabled"
    (input)="onInputChange($event)"
    (blur)="onTouched()"
    [ngClass]="{ 'bg-gray-100 cursor-not-allowed': disabled }"
  />
  @if (ngControl.invalid && ngControl.touched) {
  <div class="text-red-500 text-xs mt-1">
    @for (validation of validations; track validation.name) { @if
    (ngControl.control?.hasError(validation.name)) {
    <div>{{ validation.message }}</div>
    } }
  </div>
  }
</div>
