<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="space-y-4 bg-white p-6 rounded-2xl shadow"
>
  @for (field of config; track field) {
  <div>
    @switch (field.type) { @case ('text') {
    <app-text-input
      [formControlName]="field.name"
      [label]="field.label"
      [placeholder]="field.placeholder || ''"
      [validations]="field.validations || []"
    >
    </app-text-input>
    } @case ('textarea') {
    <app-textarea-input
      [formControlName]="field.name"
      [label]="field.label"
      [rows]="field.rows || 3"
      [placeholder]="field.placeholder || ''"
      [validations]="field.validations || []"
    >
    </app-textarea-input>
    } @case('select'){
    <app-select-input
      [formControlName]="field.name"
      [label]="field.label"
      [options]="field.options || []"
      [validations]="field.validations || []"
    >
    </app-select-input>
    } @case('date'){
    <app-calendar-input
      [formControlName]="field.name"
      [label]="field.label"
      [validations]="field.validations || []"
    >
    </app-calendar-input>
    } @case('checkbox'){
    <app-checkbox-input
      [formControlName]="field.name"
      [label]="field.label"
      [validations]="field.validations || []"
    >
    </app-checkbox-input>
    } @case('toggle'){
    <app-toggle-input [formControlName]="field.name" [label]="field.label">
    </app-toggle-input>
    } }
  </div>
  }
  <button
    type="submit"
    [disabled]="!form.valid"
    class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 disabled:bg-gray-400"
  >
    Submit
  </button>
</form>
