<breadcrums-component />
<div class="card bg-white border border-[#D2D6DB] rounded-2xl">
  <div class="card-header flex items-center justify-between p-6">
    <div class="title">
      <h2 class="text-xl font-semibold">Home</h2>
      <span class="text-[#535862]"
        >Dibawah ini merupakan list role untuk user</span
      >
    </div>
    <button class="btn btn-primary">Action</button>
  </div>
  <table class="table-auto w-full">
    <thead class="bg-[#FAFAFA] border-y border-[#E9EAEB]">
      <th>No</th>
      <th>No</th>
      <th>No</th>
      <th>No</th>
    </thead>
    <tbody>
      <tr>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
      </tr>
    </tbody>
  </table>
</div>
