<div class="flex w-full justify-between">
  <breadcrums-component />
  <app-search-table
    placeholder="Search articles..."
    [(value)]="searchQuery"
  ></app-search-table>
</div>
<div class="card bg-white border border-[#D2D6DB] rounded-2xl mt-6">
  <div class="card-header flex items-center justify-between p-6">
    <div class="title">
      <h5 class="text-xl font-semibold">Home</h5>
      <span class="text-[#535862] text-sm"
        >Dibawah ini merupakan list role untuk user</span
      >
    </div>
    <button type="submit" class="btn-bsi btn-success-bsi">
      <div class="flex items-center">
        <span class="material-icons" style="font-size: large">add</span>
        <span class="text-center text-md"> Tambah Role </span>
      </div>
    </button>
  </div>
  <app-table-untitled
    [columns]="tableCols"
    [data]="tableData"
    (sortChange)="onSortChange($event)"
  >
    <ng-template #tableAction let-row>
      <div class="flex items-center gap-2">
        <!-- <button
          class="px-2 py-1 bg-white text-black border-1 border-[#D5D7DA] rounded flex items-center gap-1"
        >
      </button> -->
        <app-button-table size="md" variant="secondary" actionType="view"
          >Lihat</app-button-table
        >
        <app-button-table size="md" variant="primary" actionType="edit"
          >Edit</app-button-table
        >
        <!-- </button> -->
      </div>
    </ng-template>
  </app-table-untitled>
</div>
