<div class="content p-4 overflow-y-auto" style="height: calc(100vh - 4rem);" >
  <div class="layout-sidebar bg-white w-64 h-full rounded-xl">
    <nav class="flex flex-col h-full">
      <ul class="space-y-2">
        <li>
          <a routerLink="/home" class="block px-4 py-2 text-gray-700 hover:bg-gray-200">Home</a>
        </li>
        <li>
          <a routerLink="/articles" class="block px-4 py-2 text-gray-700 hover:bg-gray-200">Artikel</a>
        </li>
        <li>
          <a routerLink="/products" class="block px-4 py-2 text-gray-700 hover:bg-gray-200">Produk</a>
        </li>
      </ul>
    </nav>

  </div>
</div>
