<div class="relative h-full bg-white w-64 rounded-xl">
  <nav
  #scrollContainer
  (scroll)="onScroll()"
  class="flex flex-col h-full overflow-y-auto scrollable-class px-3 py-4">
    <div *ngFor="let section of menuItems">
      <h3
        (click)="toggleSection(section.title)"
        class="px-3 pt-2 pb-1 text-[11px] font-bold text-black uppercase tracking-wider flex justify-between items-center cursor-pointer select-none"
      >
        <span>
          {{ section.title }}
        </span>
        <span
          *ngIf="sectionState[section.title]"
          class="material-icons text-base"
          >expand_less</span
        >
        <span
          *ngIf="!sectionState[section.title]"
          class="material-icons text-base"
          >expand_more</span
        >
      </h3>
      <ul *ngIf="sectionState[section.title]" class="space-y-2">
        <li *ngFor="let link of section.children">
          <a
            [routerLink]="link.path"
            routerLinkActive="active-link"
            #rla="routerLinkActive"
            class="flex text-slate-500 items-center gap-3 px-6 py-2 font-medium rounded-lg transition-colors text-sm"
          >
            <span
              *ngIf="rla.isActive"
              class="material-icons text-[#00BFB2]"
              style="font-size: 20px"
              >{{ link.icon }}</span
            >
            <span>
              {{ link.label }}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
   @if (showTopFade) {
    <div class="absolute top-0 left-0 right-0 h-16 bg-gradient-to-b from-white to-transparent pointer-events-none"></div>
  }

  @if (showBottomFade) {
    <div class="absolute bottom-0 left-0 right-0 h-16 bg-gradient-to-t from-white to-transparent pointer-events-none flex items-end justify-center pb-2">
      <span class="material-icons text-slate-400 animate-bounce">expand_more</span>
    </div>
  }
</div>
